body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	flex-wrap: wrap;
	background-color: silver;
}

.clock
{
	width: 240px;
	height: 240px;
	background-color: white;
	color: #444444;
	border: 10px solid black;
	border-radius: 50%;
	box-shadow: 10px 10px 25px #555555, 0px 0px 15px #0a0a0a inset;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	
	font-family: 'Kolbano', serif;
}

.clock::after
{
	content: "";
	width: 5%;
	height: 5%;
	border-radius: 50%;
	background-color: #aaaaaa;
	position: absolute;
	z-index: 4;
}

.clock>span.num
{
	position: absolute;
	text-align: center;
	inset: 4%;
	font-size: 1.25em;
	transform: rotate(calc(30deg * var(--i)));
	user-select: none;
}

.clock>span.num b
{
	display: inline-block;
	transform: rotate(calc(-30deg * var(--i)));
}

.clock>span.arrow
{
	position: absolute;
	display: block;
	width: 2.25%;
	transform-origin: bottom;
	border-radius: 20px;
}

.clock>span.hour
{
	height: 20%;
	z-index: 1;
	background-color: #a8a8a8;
	transform: translateY(-50%) rotate(0deg);
}

.clock>span.min
{
	height: 32%;
	z-index: 2;
	background-color: #888888;
	transform: translateY(-50%) rotate(0deg);
}

.clock>span.sec
{
	height: 38%;
	width: 1.75%;
	z-index: 3;
	background-color: #6a6a6a;
	transform: translateY(-50%) rotate(0deg);
}
